main, header {
    padding-left: 270px;
}

@media only screen and (max-width : 992px) {
    main, header {
        padding-left: 0;
    }
}

/*** == Sidebar Navigation == ***/

.side-nav {
    width: 270px;
}
ul.side-nav .collapsible-header:after {
    font-family: 'Material Icons';
    content: "expand_more";
    color: #9e9e9e;
    font-size: 18px;
    position: absolute;
    right: 16px;
}
ul.side-nav .collapsible-header.active:after {
    content: "expand_less";
}
ul.side-nav li a {
    padding: 0 16px;
}


.nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}  

#logo {
    background: url('../images/logo.png') no-repeat;
    height: 77px;
    width: 232px;
    margin: 40px auto;
    text-indent: -999999px;
}

.module-main {
    padding: 25px 20px;
}

.form-error {
    position: absolute;
    bottom: 0px;
    font-size: 0.8em;
}

.btn-group a {
    padding-left: 10px;
    padding-right: 10px;
}

.page-info-bar {
    padding: 15px;
}
.page-info-bar h5 {
    margin: 0;
}

/**** == Login Page == ****/
.card-header {
    margin-bottom: 35px;
    margin-top: 5px;
}
.card-header p {
    text-transform: uppercase;
    font-size: 0.8em;
}
.remember {
    padding-left: 1.1em !important;
}
#login .input-field {
    margin-top: 2.5rem;
}