main, header {
    padding-left: 270px;
}

@media only screen and (max-width : 992px) {
    main, header {
        padding-left: 0;
    }
}

.side-nav {
    width: 270px;
}

.nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}  

#logo {
    background: url('../images/logo.png') no-repeat;
    height: 77px;
    width: 232px;
    margin: 40px auto;
    text-indent: -999999px;
}

.module-main {
    padding: 25px 20px;
}

.form-error {
    position: absolute;
    bottom: 0px;
    font-size: 0.8em;
}

.btn-group a {
    padding-left: 10px;
    padding-right: 10px;
}

.page-info-bar {
    padding: 15px;
}
.page-info-bar h5 {
    margin: 0;
}